/* Basic                                                                         */
/* ----------------------------------------------------------------------------- */

body {min-width: 1000px;}

body, input, textarea, select {font-size: 11pt;}

/* Box */


/* Content                                                                       */
/* ----------------------------------------------------------------------------- */

.toolbar {padding: .5em 2.5em;}
#content {padding: 4em 2em;}

/* Sidebar                                                                       */
/* ----------------------------------------------------------------------------- */

body.left-sidebar #content  {margin-left: 14em;}
body.right-sidebar #content {margin-right: 14em;}